.github
node_modules/
**/node_modules
rollup.dev.js
dist
docker/images
docker/compose
.turbo
.env*
.docker-compose.yaml
Dockerfile*
*.crt
*.pem
**/target
**/.logs

./web/ui/node_modules
./web/ui/package-lock.json
./web/ui/**/dist
./web/ui/**/target
